################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

.vs/
Builds/
.vs/Kamels/DesignTimeBuild/
KamelsManualSwitch/obj/
