################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Kamels/FileContentIndex
/.vs/Kamels/v17/.futdcache.v2
/.vs/Kamels/v17/.suo
/Builds/Release/net6.0/KamelsManualSwitch.runtimeconfig.json
/Builds/Release/net6.0/KamelsManualSwitch.pdb
/Builds/Release/net6.0/KamelsManualSwitch.dll
/Builds/Release/net6.0/KamelsConfig.runtimeconfig.json
/Builds/Release/net6.0/KamelsConfig.pdb
/Builds/Release/net6.0/KamelsConfig.dll
/Builds/Release/net6.0/errors.txt
/Builds/Debug/net6.0/settings
/Builds/Debug/net6.0/KamelsManualSwitch.pdb
/Builds/Debug/net6.0/KamelsManualSwitch.dll
/.vs/Kamels/DesignTimeBuild/.dtbcache.v2
/KamelsManualSwitch/obj/Debug/net6.0/ref/KamelsManualSwitch.dll
/KamelsManualSwitch/obj/Debug/net6.0/refint/KamelsManualSwitch.dll
/KamelsManualSwitch/obj/Debug/net6.0/KamelsManualSwitch.pdb
/KamelsManualSwitch/obj/Debug/net6.0/KamelsManualSwitch.dll
/KamelsManualSwitch/obj/Release/net6.0/ref/KamelsManualSwitch.dll
/KamelsManualSwitch/obj/Release/net6.0/refint/KamelsManualSwitch.dll
/KamelsManualSwitch/obj/Release/net6.0/KamelsManualSwitch.dll
/KamelsManualSwitch/obj/Release/net6.0/KamelsManualSwitch.pdb
